<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="My name is Fred Kelly and I'm a British Software Engineer working in San Francisco, CA. This (rarely updated) website serves to document my failed attempt at running a blog." />
    <title>Fred Kelly<%= ' &mdash; ' + current_article.title if is_blog_article? %></title>
    <%= stylesheet_link_tag :all %>
    <script src="//use.typekit.net/jqa8prk.js"></script>
    <script>
      try {
        Typekit.load();
      } catch(e) {}
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-17312704-1', 'fredkelly.net');
      ga('send', 'pageview');
    </script>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <link rel="shortcut icon" href="<%= image_path "favicon.png" %>" />
  </head>
  <body>

    <div id="header">
      <div class="container">
        <h1><a href="/">Fred Kelly</a> British CS Graduate lost in Silicon Valley.</h1>
        <a href="https://twitter.com/fredkelly" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @fredkelly</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
    </div>
    
    <div class="container">
      <div id="primary">
        <%= yield %>
      </div>
      
      <aside>
        <div class="vcard">
          <h2><span class="nickname">Fred</span> Who?</h2>
          <%= image_tag("me.png", width: 85, height: 85, id: 'me', class: 'photo') %>
          <p>My name is <span class="fn">Fred Kelly</span> and I'm a <a href="https://www.linkedin.com/in/freddykelly" target="_blank" class="url">British <span class="title">Software Engineer<span></a> working in <span class="adr"><span class="locality">San Francisco</span>, <span class="region">CA</span></span>. This (rarely updated) website serves to document my failed attempt at running a blog. If you want to hear what I'm up to then why not <a href="//twitter.com/fredkelly">follow me on Twitter</a> or <a href="#" onclick="alert('me AT fredkelly DOT net; very original&hellip;');">email me</a>.</p>
        </div>
        <h2>Recent Articles</h2>
        <ol>
          <% blog.articles[0...10].each do |article| %>
            <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
          <% end %>
        </ol>

        <h2>By Year</h2>
        <ol>
          <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
            <li><%= link_to year, blog_year_path(year) %> (<%= articles.size %>)</a></li>
          <% end %>
        </ol>
      </aside>
    </div>
  </body>
</html>
